$accent: #4C9BD4;
$main: #202427;
$background: #0E0F10;
$main-light: #3D454A;
$extra: #FFFFFF;
$text: #FFFFFF;
$text-faded: #AAAAAA;
$text-dark: #000000;
$link: #7bc8fc;
$red: #A20025;

$header-height: 100px;
$header-height-width-large: 120px;
$sidebar-width: 300px;
$sidebar-transition-time: .2s;

$tablet-width: 1200px;
$mobile-width-large: 750px;
$mobile-width-small: 500px;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
    text-overflow: ellipsis;
    scrollbar-width: thin;
    color: $text;
}

.hidden {
    display: none;
}

svg {
    display: inline-block;
    shape-rendering: auto;
}