/* semantic color variables for this project */
$accent: #4C9BD4;
$main: #202427;
$background: #0E0F10;
$main-light: #3D454A;
$extra: #FFFFFF;
$text: #FFFFFF;
$text-faded: #AAAAAA;
$link: #7bc8fc;

$header-height: 100px;
$sidebar-width: 300px;
$sidebar-transition-time: .2s;

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    font-weight: normal;
    text-overflow: ellipsis;
    scrollbar-width: thin;
    color: $text;
}